<h2><%= user.first_name %> <%= user.last_name %></h2>

<div class="row">
    <div class="col s12">
        <img src="<%= user.profileImg %>" style="width: 300px; height: auto;">
    </div>
</div>
<div class="row">
    <div class="col s12">
        <p><strong>Username: </strong><%= user.username %></p>
        <p><strong>Admin Status: </strong><%= user.admin ? 'Admin' : 'User' %></p>
    </div>
    <div class="col s12">
        <h5><%= user.first_name %>'s Bio:</h5>
        <p><%= user.bio %></p>
    </div>
</div>