<h3>Search for your friend by e-mail</h3>
    <form method="POST" action="/friends/search">
        <div class="row">
            <div class="input-field col s3">
                <input type="text" name="friendEmail" placeholder="Email" required>
            </div>
        </div>
        <input type="submit" value="Search">
    </form>

<h3>Found Friends:</h3>
<% if (!foundFriend) { %>
    <p>Search for friends<p>
<% } else { %>
    <form action="/profile/friends/<%= firstCapitalization(foundFriend.first_name) %><%= firstCapitalization(foundFriend.last_name) %>" method="POST">
        <input type="hidden" name="friendUserId" value="<%= foundFriend.id %>">
        <input class="profileButton" type="submit" value="<%= firstCapitalization(foundFriend.first_name) %> <%= firstCapitalization(foundFriend.last_name) %>">
    </form>
<% } %>


<h3>My friends will go here</h3>

<% if(friends && friends.length > 0){ %>
    <% friends.forEach((friend) => { %>
        <form action="/profile/friends/<%= firstCapitalization(friend.first_name) %><%= firstCapitalization(friend.last_name) %>" method="POST">
            <input type="hidden" name="friendUserId" value="<%= friend.id %>">
            <input class="profileButton" type="submit" value="<%= firstCapitalization(friend.first_name) %> <%= firstCapitalization(friend.last_name) %>">
        </form>
    <% }) %>
<% } else { %>
    No friends :(
<% } %>