<h3>Search for your friend by e-mail</h3>
    <form method="POST" action="/friends/search">
        <div class="row">
            <div class="input-field col s3">
                <input type="text" name="friendEmail" placeholder="Email" required>
            </div>
        </div>
        <input class="btn waves-effect waves-light blue white-text" type="submit" value="Search">
    </form>

<h3>Found Friends:</h3>
<% if (!foundFriend) { %>
    <p>Search for friends<p>
<% } else { %>
    <form action="/profile/friends/<%= firstCapitalization(foundFriend.first_name) %><%= firstCapitalization(foundFriend.last_name) %>" method="POST">
        <input type="hidden" name="friendUserId" value="<%= foundFriend.id %>">
        <input class="profileButton" type="submit" value="<%= firstCapitalization(foundFriend.first_name) %> <%= firstCapitalization(foundFriend.last_name) %>">
    </form>
<% } %>