<h2><%= userProfile.first_name %> <%= userProfile.last_name %></h2>

<div class="row">
    <div class="col s4 profilePic">
        <img class="profileImg" src="<%= userProfile.profileImg %>">
    </div>
    <div class="col s2">
        <p><strong>Username: </strong><%= userProfile.username %></p>
        <p><strong>Admin Status: </strong><%= userProfile.admin ? 'Admin' : 'User' %></p>
        <form action="/friends/add" method="POST">
            <input type="hidden" name="friendId" value="<%= userProfile.id %>">
            <input type="submit" value="Add Friend">
        </form>
    </div>
    <div class="col s4">
        <h5><%= userProfile.first_name %>'s Bio:</h5>
        <p><%= userProfile.bio %></p>
    </div>
    
</div>