<h3>Search for your friend by e-mail</h3>
    <form method="POST" action="/friends/search">
        <div class="row">
            <div class="input-field col s3">
                <input type="text" name="friendEmail" placeholder="Email" required>
            </div>
        </div>
        <input type="submit" value="Search">
    </form>

<h3>Found Friends:</h3>
<p><%= foundFriend.first_name %> <%= foundFriend.last_name %></p>

<h3>My friends will go here</h3>

<% if(friends && friends.length > 0){ %>
    <% friends.forEach((friend) => { %>
        <form action="/profile/friends/<%= friend.first_name %><%= friend.last_name %>" method="POST">
            <input type="hidden" name="friendUserId" value="<%= friend.id %>">
            <input class="profileButton" type="submit" value="<%= friend.first_name %> <%= friend.last_name %>">
        </form>
    <% }) %>
<% } else { %>
    No friends :(
<% } %>