
<h2><%= firstCapitalization(user.first_name) %>  <%= firstCapitalization(user.last_name) %></h2>

<div class="row">
    <div class="col s8">
        <div class="row z-depth-5">
            <div class="col s4 profilePic">
                <img class="profileImg" src="<%= user.profileImg %>">
            </div>
            <div class="col s2">
                <p><strong>Username: </strong><%= user.username %></p>
                <p><strong>Admin Status: </strong><%= user.admin ? 'Admin' : 'User' %></p>
            </div>
            <div class="col s6">
                <small><p class="right"><a href="/profile/edit">Edit Profile</a></p></small>
                <h5><%= firstCapitalization(user.first_name) %>'s Bio:</h5>
                <p><%= user.bio %></p>
            </div>
        </div>
    </div>
    <div class="col s3 z-depth-5 friends-box">
        <p class="friends-profile-label">Friends</p>
        <div class="row friends-list">
            <% if(friends && friends.length > 0){ %>
                <% friends.forEach((friend) => { %>
                    <form action="/profile/friends/<%= firstCapitalization(friend.first_name) %><%= firstCapitalization(friend.last_name) %>" method="POST">
                        <input type="hidden" name="friendUserId" value="<%= friend.id %>">
                        <input class="profileButton" type="submit" value="<%= firstCapitalization(friend.first_name) %> <%= firstCapitalization(friend.last_name) %>">
                    </form>
                <% }) %>
            <% } else { %>
                No friends :(
            <% } %>
        </div>
    </div>
</div>

<div class="row">
    <h3>My Favorite Restaurants</h3>
    <% restaurants.forEach((r)=>{ %>
        <div class="col s4">
            <h6 class="header"><%= r.name %></h6>
            <div class="card horizontal z-depth-5">
                <div class="card-image">
                    <img src="<%= r.image_url %>">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <div class="right">
                            <img class="yelp-logo" src="../img/Yelp_trademark_RGB.png">
                        </div>
                        <p>Rating: <%= r.yelp_rating %></p>
                    </div>
                    <div class="card-action">
                        <form action="/restaurants/moreinfo" method="POST">
                            <input type="hidden" name="userId" value="<%= currentUser %>">
                            <input type="hidden" name="restaurantId" value="<%= r.id %>">
                            <input class="btn waves-effect waves-light blue white-text" type="submit" value="More Info">
                        </form>
                        <form action="/favorites/restaurant/remove" method="POST">
                            <input type="hidden" name="userId" value="<%= currentUser %>">
                            <input type="hidden" name="restaurantId" value="<%= r.id %>">
                            <input class="profileButton" type="submit" value="Remove">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>

        