<h5>More info on the restaurant</h5>

<div class="row">
    <div class="col s6">
        <img class="profileImg" src="<%= restaurant.image_url %>" alt="<%= restaurant.name %>">
        <h5><%= restaurant.name %></h5>
        <p class="address addressTitle">Addres</p>
        <p class="address"><%= restaurant.address1 %></p>
        <p class="address"><%= restaurant.city %>, <%= restaurant.state %></p>
        <p>Phone: <%= restaurant.phone %></p>
    </div>
    <div class="col s4">
        <% include ../moreinfo-map.ejs %> 
    </div>
</div>

<div class="row">
    <form action="/restaurants/comment/add" method="POST">
        <input type="hidden" name="restaurantId" value="<%= restaurant.id %>">
        <input type="hidden" name="userId" value="<%= user.id %>">
        <input type="hidden" name="first_name" value="<%= user.first_name %>">
        <input type="hidden" name="last_name" value="<%= user.last_name %>">
        <textarea type="text" name="userReview" id="textarea2" placeholder="Enter your review here" data-length="120"></textarea>
        <input class="btn waves-effect waves-light blue white-text" type="submit" value="Submit Comment">
    </form>
</div>

<div class="row">
    <h5>Comments:</h5>
    <% restaurant.comments.forEach(comment => { %>
            <div class="row z-depth-5">
                <h6 class="comment-name"><%= firstCapitalization(comment.first_name) %> <%= firstCapitalization(comment.last_name) %></h6>
                <p class="comment-content"><%= comment.content %></p>
                <small><p><%= comment.createdAt %> </p></small>
            </div>
    <% }) %>
</div>
